.aboutme-wrapper {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.aboutme-container {
  width: 90%;
  max-width: 1200px;
  background-color: #2E4755;
  border-radius: 1rem;
  padding: 2rem;
  color: white;
  position: relative;
  overflow: visible;
}

.aboutme-heading {
  position: absolute;
  top: -180px; 
  left: 440px;
  height: 400px;
  z-index: 2;
}

.aboutme-text p {
  margin-top: 3rem; 
  font-size: 1.5rem;
  line-height: 1.6;
  text-align: left;
  padding-right: 110px;
}

.aboutme-img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}


@media (max-width: 1024px) {
  .aboutme-heading {
    top: -150px;
    left: 290px;
  }   
}

@media (max-width: 960px) {
  .aboutme-heading {
    top: -150px;
    left: 250px;
    height: 300px;
  }   

  .aboutme-text p {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .aboutme-heading {
    top: -100px;
    left: 50%;
    transform: translate(-50%);
    height: 220px;
  }

  .aboutme-text p {
    margin-top: 100px;
    font-size: 1rem;
    padding-right: 0px;
  }

  .aboutme-container {
    padding: 1.5rem;
  }
}